<div id="sidebar"class="chat__sidebar">
                <div class="chat__divide1">
                    <div class="btn__white"></div>
                    <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                    <div class="border__divide"></div>
    
                    <div class="group__slide">
    
                        <!-- add new user 
                         -->
                          
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div> 
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                               
                            <div>
                                <div class="btn__white1"></div>
                                <a href="#" class="home_btn" onmouseover="big(this.parentElement.firstElementChild)" onmouseout="normal(this.parentElement.firstElementChild)"></a>
                            </div>
                       
                    </div>
                </div>
    
                <div class="chat_divide2">
                    
                        <input placeholder="Search your conversation" class="search__btn">
    
                        <div class="avatar__friend__btn" > 
                            <a href="/myfriend" class="friend__btn active" onmouseover="lighten(this)" onmouseout="normalColor(this)" >
                                <div class="img_avatar" style="background-image: url('../img/friend.png')"></div>
                                <div class="friend__btn_text" >Friends</div>
                            </a>
                            <a href="/profile/me" class="friend__btn" onmouseover="lighten(this)" onmouseout="normalColor(this)" >
                                <div class="img_avatar" style="background-image: url('../img/create.png')"></div>
                                <div class="friend__btn_text" >Profile</div>
                            </a>
                            <a href="#" class="friend__btn"onmouseover="lighten(this)" onmouseout="normalColor(this)">
                                <div class="img_avatar" style="background-image: url('../img/music.png')"></div>
                                <div class="friend__btn_text" >Music</div>
                            </a>
                        </div>
                
                        
                <div class="listfriend"></div>
                    <div class="myProfile">
                        <div class="board_status">

                        </div>
                        <div class="board_name">
                            
                            <img   src="data:image/jpeg;base64,{{avatar}}" alt="" class="friend__avatar" />
                            <div class="statusfriend__img2" style="background-color: #00ff0d;"></div>
                            </img>
                            
                            <a href="#" class="board_name_href">
                                {{displayname2}}
                            </a>
                            <a href="#" class="username_text"> 
                                #{{username}}
                            </a>
                        </div>
                        
                    </div>
                     
                </div>
            </div>
   